body {
    background-image: url("/phpmotors/images/site/small_check.jpg");
    
    /* align-items: center; */
    background-size: contain;
    overflow: scroll;   /* change background image scale, https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Backgrounds_and_Borders/Resizing_background_images */
}

#content {
    width: 85vw;
    border: 3px solid #4c96d7;
    border-radius: 10px;
    background-color: white;
    margin: auto;
}

hr {
    height: 5px;
    width: 100%;
    background-color: #8d8d8d;
    border: none;
    margin-right: auto;
    margin-left: auto;
}